<table class="table" id="tweets-table">
  <thead>
  <tr>
    <th>Id</th>
    <th>Author</th>
    <th>Author full name</th>
    <th>Content</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tweet of tweets">
    <td>{{tweet.id}}</td>
    <td>{{tweet.author}}</td>
    <td>{{tweet.authorFullName}}</td>
    <td>{{tweet.content}}</td>
  </tr>
  </tbody>
</table>
