<div class="panel panel-default">
  <div class="panel-body">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="col-md-6 col-md-offset-3">
        <div class="col-md-8 form-group">
          <input type="text" placeholder="Username" formControlName="username" [required]="true"
                 (focusout)="checkUsername()">
        </div>
        <div class="col-md-8 form-group">
          <input type="password" placeholder="Password" formControlName="password" [required]="true">
        </div>
        <div class="col-md-12 form-group">
          <input placeholder="Full name" formControlName='fullName' [required]="true">
        </div>
        <div class="col-md-12 form-group">
          <button type="submit" [disabled]="!(userForm.valid && usernameIsValid)"> Register</button>
        </div>
        <div class="col-md-2 form-group">
          <button (click)="navigateToLogin()"> Back to login</button>
        </div>
      </div>

      <div class="col-md-12">
        <div class="alert-success" *ngIf="registerSuccess" role="alert"> User registered</div>
      </div>
      <div class="col-md-12 form-group">
        <div class="alert-warning" *ngIf="usernameIsValid === false" role="alert"> Sorry, that username is not
          available
        </div>
      </div>
    </form>
  </div>
</div>
