<table>
  <tr>
    <th>Following</th>
    <th>Followers</th>
    <th>Number of tweets</th>
  </tr>
  <tr *ngIf="statistics !== null">
    <td>{{statistics[0]}}</td>
    <td>{{statistics[1]}}</td>
    <td>{{statistics[2]}}</td>
  </tr>
</table>
