<div>
  <div class="col-lg-4">
    <app-user-tweets-statistics [statistics]="$statistics | async"></app-user-tweets-statistics>
  </div>
  <div class="col-lg-8"><app-create-tweet></app-create-tweet></div>
  <div class="col-lg-12">
<app-user-tweets-table [tweets]="$tweets | async"></app-user-tweets-table>
  </div>
</div>
